@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
    font-size: 100%;
    /* background: linear-gradient(68.15deg, #292929 16.62%, #000000 85.61%); */
    background: linear-gradient(-45deg, #636363, #141414, #4b3636, #97dbcb);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
} 

.cabecalho-imagem {
    height: 72px;
    animation: slideRight 1s ease forwards;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
    position: relative;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.cabecalho-menu a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: red;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s
}

.cabecalho-menu a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

/* .cabecalho-menu:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
} */

  .cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #ff0000;
    font-weight: 400;
    font-size: 18px;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #ff0000;
  }
  
.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 40px;
  }
  
.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    /*gap: 32px;*/
  }
  
.conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #ff0000;
  }
  
.conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ffffff;
  }
  
.conteudo-principal-escrito-botao {
    background-color: #ff0000;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #2F2325;
  }
  
.conteudo-principal-escrito-botao:hover {
    background-color: #ff0000 /*rgba(236, 214, 196, 0.53)*/;
  }
  
.conteudo-principal-imagem {
    width: 20%;
    height: 20%;
    /* height: 430px; */
    /* padding-top: 40px; */
    border-top: 10px;
    /* border-radius: 90%; */
    object-fit: cover;
    border-left: 5px solid red;
    border-radius: 6px;
  }

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
  }

.conteudo-secundario-titulo {
    border-top: 0.4px solid #ff0000;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 16px;
  }
  
.conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
  }

.conteudo-secundario-paragrafo-um {
  font-family: 'Sarala', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
}

.conteudo-secundario-paragrafo-um a.link-one {
  font-family: 'Sarala', sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
}